<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome!</title>
        {{encore_entry_link_tags('app')}}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/library_icon.png') }}">
    </head>
    <body>
        {{include('template_fragments/header.html.twig')}}
        <main class="main-content">
            <div class="main-content-nested medium-content-spacing center-content">
                {%if(has_books == false)%}
                    <h1>no books added to the demo list</h1>
                {%else%}
                    {%if(user)%}
                        <div class="book-list-header">
                            <h2>your personal book lists</h2>
                            <a class="book-list-creation-button" href="{{url('app_create_book_list')}}">create new book list</a>
                        </div>

                        
                        {%for book_list in book_lists%}
                            <div class="book-list-container">
                                <div class="book-list-content">
                                    <h1>{{book_list['name']}}</h1>
                                    <a class="book-list-button" href="{{url('book-list', {'book_list_id': book_list['id']})}}">view list</a>
                                </div>
                            </div>
                        {%endfor%}
                    {%else%}
                        <div class="book-list-container">
                            <div class="book-list-content">
                                <h1>{{book_lists[0]['name']}}</h1>
                                <a class="book-list-button" href="{{url('book-list', {'book_list_id': 0})}}">view list</a>
                            </div>
                        </div>
                    {%endif%}
                {%endif%}
            </div>
        </main>
        {{include('template_fragments/footer.html.twig')}}
    </body>
</html>