<header class="m_container">
    <div class="m_content">
        <div class="item_container">
            <a href="{{url('home-route')}}">
                <img id="icon" alt="library_icon" src="{{asset('build/images/icons/book-worms-icon.png')}}">
            </a>
            <h1>BookWorms</h1>
        </div>
        <nav class="item_container">
            <a class="links" href="{{url('account-config-page')}}">account</a>
            <a class="links" href="{{url('all-books-route')}}">search for book</a>
            <a class="links" href="{{url('book-lists')}}">book lists</a>
            <a class="links" href="{{url('app_login')}}">login/signup</a>
        </nav>
    </div>
</header>