<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome!</title>
        {{encore_entry_link_tags('app')}}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/library_icon.png') }}">
    </head>
    <body>
        {{include('template_fragments/header.html.twig')}}
        <main class="main-content">
            <div class="main-content-nested display-f-row align-content-center-y align-content-center-x">
                    {{form_start(bookListForm, {'attr':{'class':'book-list-creation-form'}})}}
                        {{form_row(bookListForm.name)}}
                        <button class="links" type="submit">create</button>
                    {{form_end(bookListForm)}}
                </div>
            </div>
        </main>
        {{include('template_fragments/footer.html.twig')}}
    </body>
</html>