<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome!</title>
        {{encore_entry_link_tags('app')}}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/library_icon.png') }}">
    </head>
    <body>
        {{include('template_fragments/header.html.twig')}}
        <main class="main-content">
            <div class="main-content-nested display-f align-content-center-y align-content-center-x">
                <div class="account-details-container">
                    <div class="account-details-content">
                        {%if(user)%}
                            <div class="account-info">
                                <span class="fa-solid fa-user fa-2xl"></span>
                                <p>{{user.username}}</p>
                            </div>
                            <div class="account-info">
                                <span class="fa-solid fa-envelope fa-2xl"></span>
                                <p>{{user.email}}</p>
                            </div>
                            <a class="links" href="{{url('app_logout')}}">logout</a>
                        {%else%}
                            <h1>you are not logged in</h1>
                        {%endif%}
                    </div>
                </div>
            </div>
        </main>
        {{include('template_fragments/footer.html.twig')}}
    </body>
</html>