<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome!</title>
        {{encore_entry_link_tags('app')}}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/library_icon.png') }}">
    </head>
    <body>
        {{include('template_fragments/header.html.twig')}}
        <main id="main-content">
            <div id="main-content-nested" class="medium-content-spacing center-content">
                <div>
                    <h1>This is the page where all the books from the database are displayed</h1>
                </div>
                {%for book in all_books_array%}
                    <a href="{{ url('book_page', { 'book_id': book.id }) }}"> 
                        <img style="width:300px; height: 500px;" src="{{ asset('images/' ~ book.image) }}" alt="{{book.name}}_book_image">
                    </a>
                {%endfor%}
            </div>
        </main>
        {{include('template_fragments/footer.html.twig')}}
    </body>
</html>