<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome!</title>
        {{encore_entry_link_tags('app')}}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/library_icon.png') }}">
    </head>
    <body>
        {{include('template_fragments/header.html.twig')}}
        <main class="main-content align-content-vertically">
                <div>
                    {{form_start(genre_filter, {'attr':{'class':'filter-bar'}})}}
                        {{form_row(genre_filter.Genre)}}
                        <div>
                            <button type="submit">filter</button>
                            <button><a href="{{url('all-books-route')}}">reset</a></button>
                        </div>
                    {{form_end(genre_filter)}}
                </div>
                <div class="fit-main-content book-list-grid medium-content-spacing">
                    {%for book in all_books_array%}
                        <a class="book-image" href="{{ url('book_page', { 'book_id': book.id }) }}"> 
                            <img class="book-image-res" src="{{ asset('images/' ~ book.image) }}" alt="{{book.name}}_book_image">
                        </a>
                    {%endfor%}
                </div>
        </main>
        {{include('template_fragments/footer.html.twig')}}
    </body>
</html>