<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome!</title>
        {{encore_entry_link_tags('app')}}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/library_icon.png') }}">
    </head>
    <body>
        {{include('template_fragments/header.html.twig')}}
        <main class="main-content">
            <div class="book-container medium-content-spacing center-content">
                <div>
                    <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center">
                        {{form_start(add_to_booklist_form)}}
                            {{form_row(add_to_booklist_form.BookLists)}}
                            <button type="submit">add to book list</button>
                        {{form_end(add_to_booklist_form)}}

                        {{form(add_to_temp_booklist_form)}}
                    </div>
                    <img class="book-image-res" src="{{ asset('images/' ~ book_data[0].image) }}">
                </div>
                <div class="book-info-container">
                    <div>    
                        <h3>GENRE</h3>
                        <p>{{book_data[0].genre.name}}</p>
                    </div>

                    <div>
                        <h3>PRICE</h3>
                        <p>{{book_data[0].price}}</p>
                    </div>
                    
                    <div>
                        <h3>AUTHOR</h3>
                        <p>{{book_data[0].author}}</p>
                    </div>

                    <div>
                        <h3>DESCRIPTION</h3>
                        <p>{{book_data[0].description}}</p>
                    </div>
                </div>
            </div>
        </main>
        {{include('template_fragments/footer.html.twig')}}
    </body>
</html>