<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome!</title>
        {{encore_entry_link_tags('app')}}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/library_icon.png') }}">
    </head>
    <body>
        {{include('template_fragments/header.html.twig')}}
        <main class="main-content">
            <div class="book-container medium-content-spacing center-content">
                <div class="book-info-parent">
                    <div class="book-info-container">
                        <div>
                            <div class="book-info-1">
                                <div class="book-info-1-form">
                                    {%if(user)%}
                                        {{form_start(add_to_booklist_form, {'attr':{'class':'add-book-form'}})}}
                                            {{form_row(add_to_booklist_form.BookLists, {'attr':{'class':'links'}})}}
                                            <button class="links" type="submit">add</button>
                                        {{form_end(add_to_booklist_form)}}
                                    {%else%}
                                        {{form_start(add_to_temp_booklist_form)}}
                                            {{form_row(add_to_temp_booklist_form.submit_button, {'attr':{'class':'links'}})}}
                                        {{form_end(add_to_temp_booklist_form)}}
                                    {%endif%}
                                </div>
                            </div>
                            <div class="book-info-2">
                                <div class="book-info-2-image">
                                    <img class="book-image" src="{{ asset('build/images/books/' ~ book_data[0].image) }}">
                                </div>
                                <div class="book-info-2-content">
                                    <div>
                                        <h4>{{book_data[0].author}}</h4>
                                    </div>
                                    <div>
                                        <h1>{{book_data[0].name}}</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h3>DESCRIPTION</h3>
                            <p>{{book_data[0].description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {{include('template_fragments/footer.html.twig')}}
    </body>
</html>