<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome!</title>
        {{encore_entry_link_tags('app')}}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/library_icon.png') }}">
    </head>
    <body>
        {{include('template_fragments/header.html.twig')}}
        <main class="main-content">
            <div class="book-container medium-content-spacing center-content">
                <div class="book-info-parent">
                    <div class="book-info-container">
                            <!--figure out where to put add book buttons and dropdown menu-->
                            <div class="book-info-1" style="background-color:white; border-radius:10px; padding: 10px;margin:10px; position">
                                <div>
                                    {%if(user)%}
                                        {{form_start(add_to_booklist_form, {'attr':{'class':'add-book-form'}})}}
                                            {{form_row(add_to_booklist_form.BookLists)}}
                                            <button class="add-book-button" type="submit">add</button>
                                        {{form_end(add_to_booklist_form)}}
                                    {%else%}
                                        {{form(add_to_temp_booklist_form, {'attr':{'class':'links'}})}}
                                    {%endif%}
                                </div>
                            </div>
                        <div style="background-color:rgba(1, 1, 1, 0.1); width: 100%%; height: 250px; position: relative; border-radius: 10px;">
                            <div style="position: absolute; top: 20px; left: 20px;">
                                <img class="book-image" src="{{ asset('build/images/books/' ~ book_data[0].image) }}">
                            </div>
                            <div style="position: absolute; height: 100%; right: 0; display: flex; flex-direction: column; justify-content:center; padding: 10px;">
                                <div>
                                    <h4>{{book_data[0].author}}</h4>
                                </div>
                                <div>
                                    <h1>{{book_data[0].name}}</h1>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h3>DESCRIPTION</h3>
                            <p>{{book_data[0].description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {{include('template_fragments/footer.html.twig')}}
    </body>
</html>