<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome!</title>
        {{encore_entry_link_tags('app')}}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/library_icon.png') }}">
    </head>
    <body>
        {{include('template_fragments/header.html.twig')}}
        <main class="main-content">
            <div class="main-content-nested display-f align-content-center-y align-content-center-x">
                <div class="form-parent-container">
                    <h1>SIGN UP</h1>
                    {{form_start(create_account_form, {'attr': {'class': 'form'}})}}
                        {{form_row(create_account_form.username)}}
                        {{form_row(create_account_form.email)}}
                        {{form_row(create_account_form.password)}}
                        <button class="links" type="submit">create account</button>
                        <a class="links" href="{{url('app_login')}}">to login page</a>
                    {{form_end(create_account_form)}}
                </div>
            </div>
        </main>
        {{include('template_fragments/footer.html.twig')}}
    </body>
</html>
