<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome!</title>
        {{encore_entry_link_tags('app')}}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/library_icon.png') }}">
    </head>
    <body>
        {{include('template_fragments/header.html.twig')}}
        <main class="main-content">
            <div class="main-content-nested medium-content-spacing center-content">
                <h1>SIGN UP</h1>
                {{submit_message}}
                {{form(create_account_form)}}
            </div>
        </main>
        {{include('template_fragments/footer.html.twig')}}
    </body>
</html>
